
img{
    width: 320px;
    height: 320px;
}
.characterList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.characterList article{
    border: black 0.5px solid;
    padding: 5px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.search-results{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search-results article{
    border: black 0.5px solid;
    padding: 5px;
    margin-bottom: 10px;
}